
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  min-height: 250px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: last baseline;
}


.logo {
  display: flex;
  align-items: center;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.logo button {
  border-style: none;
  height: 80px;
  width: 140px;
  background: url(icons/logo.jpg) no-repeat;
  background-size: cover;
}
.admin {
  border: none;
  font-size: 40px;
  height: 80px;
  width: 140px;
  
}

.uitlog {
  display: flex;
  flex-grow: 1;
  border: none;
  justify-content: right;
  
  
  
}

.uitlog button {
  margin:0;
  border-style: none;
  border-width:initial;
  height: 22px;
  width: 22px;
  margin-left: 5px;
  
  
  
  
}
.uitlog p {
  margin: 0; 
  font-size: 1.1em;
  border: none;
  margin-right: 10px;
}

.small {
  display: flex;
  justify-content: space-around;
  border: none;
  padding: 10px;
  margin: 0%;
  border-bottom: solid;
  border-top: solid;
  
}

.small button {
  border-radius: 10px;
  border-style: none;
  width: 18%;
  height: 5vw;
  margin: 1%;
  background-size: 30%;
  
  
}


.uitloggen{
  background: url(icons/power-on.png) no-repeat center;
  background-size:20px;
  
}

.big {
  display: flex ;
  flex-wrap: wrap ;
  justify-content: space-around;
  padding: 10px;
}

.big button {
  border-radius: 25px;
  border-style: none;
  width: 30%;
  height: 25vw;
  margin: 10px;
}

h1 {
  text-align: left;
  margin-top: 20px;
  margin-left: 1%;
}

button > p {
  text-align: center;
  margin-top: 70%;
  
  font-size: 250%;
  
}

.opleidingen{
  background: #88D5D5 url(icons/opleiding.png) no-repeat center;
  background-size: 35%;
}
.vakken{
background: #F7E7DB url(icons/education.png) no-repeat center;
background-size: 35%;

}
.lessen{  
background: rgb(234, 180, 252) url(icons/chat-box.png) no-repeat center;
background-size: 35%;

}
.docenten{
background: #F4D2BD url(icons/chalkboard-user.png) no-repeat center;
background-size: 35%;

}
.studenten{
background: #F7E37B url(icons/student.png) no-repeat center;
background-size: 35%;

}
.resultaten{
background: #FFBA67 url(icons/pen-clip.png) no-repeat center;
background-size: 35%;
}



.aanmakenEnOverzicht {
  display: flex;
  
  justify-content: center;
  height: 20vw;
  border: none;
}

.group-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 30vw;
}

.group-buttons .aanmaken,
.group-buttons .overzicht {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;
  border: none;
  width: 15vw;
  height: 15vw;
}

.aanmaken > p,
.overzicht > p {
  margin: 0;
  align-content: center;
  margin-bottom: -80%;
  font-size: 2vw;
  border: none;
}

.aanmaken {
  background: #F7E37B url(icons/edit.png) no-repeat center;
  background-size: 30%;
}

.overzicht {
  background: #FFBA67 url(icons/form.png) no-repeat center;
  background-size: 30%;
}



/* Media query voor kleinere schermen */
@media screen and (max-width: 650px) {
  .big button {
    width: 80%;
    height: 80%
  }
  button > p{
    margin-top: 55%;
  }
  
  
}
